<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.10.0</string>

  <key>NSPrincipalClass</key>
  <string>UIApplication</string>

  <key>CFBundleIconFile</key>
  <string>appicon.icns</string>

  <key>CFBundlePackageType</key>
  <string>Graphical User Interface</string>

  <key>CFBundleSignature</key>
  <string>Arqma-Network</string>

  <key>CFBundleExecutable</key>
  <string>arqma-wallet-gui</string>
  
  <key>CFBundleName</key>
  <string>Arqma GUI iWallet</string>

  <key>CFBundleIdentifier</key>
  <string>com.arqma-iWallet-gui</string>

  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
</dict>
</plist>
