<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.13.0</string>

  <key>NSPrincipalClass</key>
  <string>NSApplication</string>

  <key>NSHighResolutionCapable</key>
  <true/>

  <key>CFBundleIconFile</key>
  <string>appicon.icns</string>

  <key>CFBundlePackageType</key>
  <string>Graphical User Interface</string>

  <key>CFBundleSignature</key>
  <string>Oscillate-Network</string>

  <key>CFBundleExecutable</key>
  <string>oscillate-wallet-gui</string>

  <key>CFBundleName</key>
  <string>Oscillate GUI iWallet</string>

  <key>CFBundleIdentifier</key>
  <string>com.oscillate-iWallet-gui</string>

  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>

  <key>NSRequiresAquaSystemAppearance</key>
  <string>True</string>

  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>Oscillate Handler</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>oscillate</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleURLName</key>
      <string>Arqmaseed Handler</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>oscillateseed</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
